{% extends 'base.html' %}

{% block head %}
<title>Opus Oakland</title>
{% endblock %}

{% block header %}
<h1><a href="/index">Opus Oakland</a></h1>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-6">
        <h4 class="text-light">Next Event:</h4>
        <p>May 11th, 6-8pm@<a href="https://www.facebook.com/events/144637899402195/" target="_blank" class="text-warning">Baker & Commons</a>
        </p>
    </div>

    <div class="col-sm-6">
        <p align="right" class="text-white-50">Admin Login
        <img src="{{url_for('static', filename='images/trebletree.jpg')}}" alt="tree with treble clefs"  style="width:10%" class="img-fluid rounded-circle">
        </p>
    </div>

</div>
<!-- <p>Like us on Facebook!</p>
<button type="button"
onclick = "href ='http://www.facebook.com/opusOAK' target=_blank">Like!</
button> -->

<section>

    <div class="jumbotron bg-light">
        <div class="col-sm-10 mx-auto text-dark">
            <h1 class="text-secondary">Opus Oakland</h1>
            <img src="{{url_for('static', filename='images/eventexample.jpg')}}" class="img-fluid">
            <br><br>
            <h5>Sharing the Joy of Chamber Music</h5>
            <p>Whether you've seen us through the window of a coffee
            shop or stumbled upon us on <a href=
            "http://www.facebook.com/opusOAK">FaceBook</a>, we are delighted
            that you've found us and hope that you will join us at any of our
            upcoming events.</p><br><hr>
            <p>Searching for large-scale orchestral fare,
            <em>free to the public</em> and featuring musicians from our diverse community?</p>
            <p>Check out our home orchestra!<!--<a href=
            "https://www.oaklandcivicorchestra.com" target="_blank"><strong>Oakland Civic Orchestra</strong></a>! -->
            <a class="btn btn-success float-right" href="https://www.oaklandcivicorchestra.com" role="button">Oakland Civic Orchestra &raquo;</a>
            </p>
        </div>
    </div>

    <!--div class="welcome"></div> -->
</section>
<br>
<section class="row">
    <div class="col-md-4 text-center">
        <img src="{{url_for('static', filename='images/flutecloseup.jpg')}}" alt="close up picture of a flute" class="img-fluid border border-secondary rounded-pill">
    </div>

    <div class="col-md-4">
        <img src="{{url_for('static', filename='images/sheetmusic.jpg')}}" alt="sheet music" class="img-fluid border border-secondary rounded-pill">
    </div>

    <div class="col-md-4">
        <img src="{{url_for('static', filename='images/cellocloseup.jpg')}}" alt="close up picture of a cello" class="img-fluid border border-secondary rounded-pill">
    </div>
</section>
{% endblock %}
