{% extends 'admin/templates/admin_template.html' %}

{% block title %}Events{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>Events</h2>
    </div>
    <div class="col-9">
      <form action="/events" method="POST">
        <div class="form-group">
          <label>Location</label>
          <input class="form-control" type="text" name="location">
        </div>
        <div class="form-group">
          <label>Day and Time</label>
          <input class="form-control" type="text" name="day_time">
        </div>
        <button type="submit" class="btn btn-success float-right">Add Event</button>
      </form>
    </div>
  </div>
  <hr>
  {% for program in programs %}
    <div class="row">
      <div class="col-3">
        {{ program.event.name }}
      </div>
      <div class="col-3">
        {{ program.event.day_time }}
      </div>
      <div class="col-3">
        <!-- <a href="/edit_event/{{ program }}">Edit</a> -->
        <a href="{{ url_for('edit_event', event_id=program.event.id) }}">Edit</a>
      </div>
      <div class="col-3"></div>
    </div>
    <br>
    {% for performance in program.performances %}
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          {{ performance.name }}
        </div>

        <div class="col-4">
          {{ performance.title }}
        </div>

        <div class="col-4">
          {{ performance.notes }}
        </div>

      </div>
    {% endfor %}
    <hr>
  {% endfor %}
</div>
{% endblock %}
