@charset "UTF-8";

body, h1, h2, h3, h4, p, table, th, tr, td, ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	font-size: 100%;
	font: inherit;
}

body {
	padding: 0px 0px 10px 0px;
/* background-color: #d3e8d9; */
}

section {
	padding: 0px 20px 0px 20px;
}

header {
	background: linear-gradient(to top right, #d7f0e5, #b7d0c5);
	border-bottom: 3px solid #385140;
}


h1 {
	padding-top: 10px;
	color: #385140;
	font-size: 36px;
	font-weight: bold;
	display: inline;
	text-shadow: 2px 2px 3px #998899,
		1px 1px 2px #ffffff;
}

.search {
	display: inline-block;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.topspace {
	margin: 0px 0px 5px 40px;
	border-bottom: 1px #385140 solid;
}

ul {
	padding-left: 20px;
	padding-bottom: 10px;
	font-family: optima, verdana, sans-serif;
	list-style-type: none;
}

nav {
	margin: 0px auto 0px auto;
}

nav li {
	display: inline;
	padding-right: 70px;
}

nav li:last-child {
	padding-right: 0px;
}

nav ul {
	text-align: center;
	padding: 5px 0 5px 0;
}

.main {
	background: #e3ffec url(../images/treblestaff.png) top left repeat;
}

.central-content {
	/* width: 800px; */
	margin: 0 auto 0 auto;
	background: linear-gradient(to left bottom, #e3fffd, #afc8e8);
	border-left: 1px solid #385140;
	border-right: 1px solid #385140;
	border-radius: 8px;

}

.coming-up {
	background: linear-gradient(to bottom, #dddcdd, #ddc5dd);
	padding-left: 200px;
	border-bottom: 2px solid #385140;
	border-radius: 8px;
}

.welcome {
	width: 60%;
	display: inline-block;
}

.trebletree {
	display: block;
	float: right;
	padding: 50px 40px 0 0;
}

.trebletree img {
	border-radius: 3%;
	border: 2px solid #385140;
	width: 190px;
	box-shadow: 3px 3px 4px 1px #aa88aa;
}

.flutecloseup {
	display: inline;
	padding: 20px 25px 20px 35px;
}

.flutecloseup img {
	width: 190px;
	border: 1px solid #385140;
	border-radius: 50%;
}

.sheetmusic {
	display: inline;
	padding: 20px 25px;

}

.sheetmusic img {
	width: 190px;
	border: 1px solid #385140;
	border-radius: 50%;

}

.cellocloseup {
	display: inline-block;
	padding: 20px 25px;

}

.cellocloseup img {
	width: 190px;
	border: 1px solid #385140;
	border-radius: 50%;

}

h1, h2, h3, h4 {
	font-family: trebuchetms, sans-serif;
	color: #385140;
}

h2 {
	margin: 0px 10px 0px 0px;
	padding-top: 30px;
	font-weight: bold;
	font-size: 24px;
}

h3 {
	margin: 0px 10px 0px 0px;
	padding-top: 30px;
	color: #004400;
	font-weight: bold;
}

h4 {
	margin: 0px 10px 0px 10px;
	padding-top: 20px;
	color: #004400;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border: 2px solid #385140;
	font-family: arial;
/*	background-color: #c7e0d5; */
}

td {
	border: 3px solid #385140;
	padding: 3px 7px 3px 7px;
	background-color: #e3ffec;
}

.heading td {
	color: #ffffff;
	text-align: center;
	background-color: #385140;
}

.media {
	display: inline;
	float: left;
}

.flutetrio {
	display: inline-block;
	width: 350px;
	margin: 20px;
}

.flutetrio img {
	width: 100%;
	border: 2px solid #385140;
}

.individuals {
	width: 350px;
	display: inline-block;
}

.cafe-ext {
	display: inline-block;
	width: 300px;
	margin: 50px 50px 20px 40px;
	float: right;
}

.cafe-ext img {
	width: 100%;
	border: 2px solid #385140;
	float: right;
}

p {
	margin: 5px 0px 0px 0px;
	padding-bottom: 15px;
	font-family: optima, verdana, sans-serif;
}

a {
	text-decoration: none;
	color: #004400;
	font-weight: 400;
}

a:visited {
	color: #004400;
}

a:hover {
	color: #9955cc;
}

h1 a {
	font-weight: 900;
}

h1 a:visited {
	color: #385140;
	text-shadow: inset 2px 2px 2px #ffffff;
}

.created {
	display: inline-block;
	width: 70%;
}

.created p {
	line-height: 22px;
}

.OCOlogo {
	display: inline-block;
	float: right;
	margin-top: 50px;
	width: 30%;
}

.OCOlogo img {
	width: 40%;
	border-radius: 10%;
}

.eventexample {
	display: inline;
}

.eventexample img {
	margin: 20px 0 20px 25px;
	width: 50%;
	border: 2px solid #385140;
}

.goal {
	display: inline-block;
	float: right;
	padding: 10px 15px 0 0;
	width: 40%;
}

.passion {
	display: inline-block;
	padding: 15px 0 20px 30px;
	margin-bottom: 15px;
	/*margin-top: 40px;*/
	width: 310px;
}

.passion p {
	line-height: 22px;
	padding-bottom: 0;
	text-align: center;
}

.accordionviolin {
	display: inline-block;
	float: right;
	width: 380px;
	padding-top: 15px;
}

.accordionviolin img{
	border: 2px solid #385140;
	width: 350px;
}

footer {
	/*background-color: #d7f0e5;*/
	background: linear-gradient(#e3fffd, #b7d0c5);
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding-top:10px;
	border-top: 3px solid #385140;
	font-size: 12px;
}